<<<<<<< HEAD
=======
>>>>>>> 7e06fa15c2494d686bceabef50909b9b2c074300

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

h1{
    color: aqua;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


.wrapper {
    width: 420px;
    border:2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-sizing: 0 0 10px rgba(0, 0, 0, .2);
    background: transparent; /sesuai backgound/
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    background: rgb(44, 150, 97); /* ganti dengan gambar yang sesuai*/
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    width: 100%;
    height: 50px;
    background: rgb(224, 224, 224);
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #8b8383;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #0a0808;
}

.input-box i {
    position: absolute;
    
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper i {
    margin-left: -25px;
    margin-top: 20px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #141313;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper.btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

.navbar-brand{
    font-weight: bold;
}

.text-orange {
    color: orange;
}

.dorong{
    margin-left: 60px;
    padding-right: 20px;
}

.navbar-links {
    position: relative;
    transition: color 0.3s;
}

.navbar-links:hover::after,
.navbar-links:focus::after,
.navbar-links.active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: orange;
    bottom: -5px;
    left: 0;
}

.text-orange {
    color: orange;
}




.carousel-container {
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    margin: 10px 0;
}

.carousel {
    display: inline-block;
    padding: 0 20px;
}

.carousel-image {
    height: 800px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: inline-block;
    width: 1050px;
}

.container{
    padding: 20px;
   
    margin: 60px;
}